@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.feature::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 30%;
  width: 50%;
  height: 0.5rem;
  background-color: #2acfcf;
}

@media screen and (max-width: 768px) {
  .feature::after {
    left: 49%;
    top: 20%;
    height: 30rem;
    width: 0.5rem;
    background-color: #2acfcf;
  }
}
